$primary-text-color: #000000;
//$title-text-color: #212121;
$accent-color: #ff5c00;
$footer-text-color: #ffffff;
//$accent-color-card: rgba(33, 150, 243, 0.9);
//$transparent-color: rgba(255, 255, 255, 0.6);
$icon-main-color: #111111;
$current-color: #c4c4c4;
$link-button-color: rgba(255, 92, 0, 1);

$background-main-color: #e5e5e5;
$background-secondary-color: rgba(255, 174, 129, 0.14);
//$background-hero-color: #e5e5e5;
$background-footer-color: #ffae81;

$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);

$main-font-family: "Roboto", sans-serif;

$large-main-font-size-weight: 700;
$large-main-font-size: 48px;
$large-main-font-line-hight: 1.17;

$upper-main-font-size-weight: 700;
$upper-main-font-size: 24px;
$upper-main-font-line-hight: 1.17;

$middle-main-font-size-weight: 400;
$middle-main-font-size: 14px;
$middle-main-font-line-hight: 1.17;

$small-main-font-size-weight: 300;
$small-main-font-size: 48px;
$small-main-font-line-hight: 1.16;

$under-hero-title-size: 24px;
$heading-title-size: 36px;
